[
  {
      "id": "jxc",
      "legend": "JxC",
      "name": "JxC",
      "colour": "#FF5B9C",
      "seats": ${headers.JxC}
  },
  {
      "id": "erc",
      "legend": "ERC",
      "name": "ERC",
      "colour": "#F8BC4B",
      "seats": ${headers.ERC}
  },
  {
      "id": "cup",
      "legend": "CUP",
      "name": "CUP",
      "colour": "#F6E134",
      "seats": ${headers.CUP}
  },
  {
      "id": "cs",
      "legend": "Cs",
      "name": "Cs",
      "colour": "#FA7515",
      "seats": ${headers.Cs}
  },
  {
      "id": "psc",
      "legend": "PSC",
      "name": "PSC",
      "colour": "#C8001E",
      "seats": ${headers.PSC}
  },
  {
      "id": "com",
      "legend": "Comuns",
      "name": "Comuns",
      "colour": "#701471",
      "seats": ${headers.Comuns}
  },
  {
      "id": "pp",
      "legend": "PP",
      "name": "PP",
      "colour": "#4F92E1",
      "seats": ${headers.PP}
  },
  {
      "id": "pacma",
      "legend": "PACMA",
      "name": "PACMA",
      "colour": "#BAC02E",
      "seats": ${headers.PACMA}
  },
  {
      "id": "recortes",
      "legend": "Recortes",
      "name": "Recortes",
      "colour": "#4B873E",
      "seats": ${headers.recortes}
  },
  {
      "id": "pumj",
      "legend": "PUMJUST",
      "name": "PUMJUST",
      "colour": "#48BFE9",
      "seats": ${headers.pumj}
  }
]